<div id="buylist">
  <h1>記帳本</h1>
  <div class="buy_item control_panel">
    <label>類別</label>
    <select id="select" name="category" onchange="location = this.value;">
      <option value="/expanse/table-tennis" {{#compare category '==' 'table-tennis'}}selected{{/compare}}>休閒運動</option>
      <option value="/expanse/user-astronaut" {{#compare category '==' 'user-astronaut'}}selected{{/compare}}>電影娛樂
      </option>
      <option value="/expanse/car" {{#compare category '==' 'car'}}selected{{/compare}}>汽油費用</option>
      <option value="/expanse/heartbeat" {{#compare category '==' 'heartbeat'}}selected{{/compare}}>健康檢查</option>
      <option value="/expanse/utensils" {{#compare category '==' 'utensils'}}selected{{/compare}}>餐飲伙食</option>
      <option value="/expanse/glass-cheers" {{#compare category '==' 'glass-cheers'}}selected{{/compare}}>手搖飲料</option>
    </select>
    <label>月份</label>
    <select id="select" name="month" onchange="location = this.value;">
      <option value="/expanse/01" {{#compare month '==' '01'}}selected{{/compare}}>一月</option>
      <option value="/expanse/02" {{#compare month '==' '02'}}selected{{/compare}}>二月</option>
      <option value="/expanse/03" {{#compare month '==' '03'}}selected{{/compare}}>三月</option>
      <option value="/expanse/04" {{#compare month '==' '04'}}selected{{/compare}}>四月</option>
      <option value="/expanse/05" {{#compare month '==' '05'}}selected{{/compare}}>五月</option>
      <option value="/expanse/06" {{#compare month '==' '06'}}selected{{/compare}}>六月</option>
      <option value="/expanse/07" {{#compare month '==' '07'}}selected{{/compare}}>七月</option>
      <option value="/expanse/08" {{#compare month '==' '08'}}selected{{/compare}}>八月</option>
      <option value="/expanse/09" {{#compare month '==' '09'}}selected{{/compare}}>九月</option>
      <option value="/expanse/10" {{#compare month '==' '10'}}selected{{/compare}}>十月</option>
      <option value="/expanse/11" {{#compare month '==' '11'}}selected{{/compare}}>十一月</option>
      <option value="/expanse/12" {{#compare month '==' '12'}}selected{{/compare}}>十二月</option>
    </select>
    <span><a class="addbtn" href="/expanse/new">+新增</a></span>
  </div>
  <div id="items_list">
    {{#each record}}
    <li class="buy_item"><a href="/expanse/{{ this.id }}/edit">></a>
      <i class="fas fa-{{ this.category }}"></i>{{ this.name }}<span class="date">{{ this.date }}</span>
      <div class="price">{{ this.amount }}</div>
      <form action="/expanse/{{ this.id }}/delete?_method=DELETE" method="POST">
        <button type="submit" class="del_btn">X</button>
      </form>
    </li>
    {{/each}}
    <li class="buy_item total">總花費
      <div class="price">{{total}}</div>
    </li>
  </div>
</div>